.container {
    padding-left: 15px; 
    padding-right: 15px;
}

.main-content {
    padding: 25px; 
}

h1, h2, h3, h4 {
    margin-bottom: 1.5rem; 
}

.styled-table, .product-grid, .form-container {
    margin-top: 20px;
    margin-bottom: 30px; 
}

.product-grid {
    gap: 20px;
    margin-bottom: 20px;
}